@model ProyectoUno.Models.Prestamo

@{
    ViewBag.Title = "Prestamo";
}

<h2>Eliminar Prestamo</h2>

<h3>¿Esta seguro que desea eliminar el préstamo?</h3>
<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prestamo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prestamo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Devolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Devolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Herramientas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Herramientas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "IndexPrestamo")
        </div>
    }
</div>
