@{
    ViewBag.Title = "Taller de Herramientas";
}

<div class="jumbotron">
    <h1>Proyecto Uno Programación Avanzada en Web</h1>
    <p>
        @Html.ActionLink("Ir a estudiante...", "Contact", new { @class = "btn btn-primary" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Colaboradores</h2>
        <p>
            Vea la lista de colaboradores, agregue, edite, revise detalles y elimine si es necesario.
        </p>
        <p>
            @Html.ActionLink("Ir a colaboradores...", "IndexColaborador", "Colaborador", new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Herramientas</h2>
        <p>Vea la lista de herramientas disponibles del talles, agregue, edite, revise detalles y elimine si es necesario..</p>
        <p>
            @Html.ActionLink("Ir a herramientas...", "IndexHerramienta", "Herramienta", new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Prestar herramienta</h2>
        <p>Registre el préstamo de herramientas del taller de manera fácil y rápida</p>
        <p>
            @Html.ActionLink("Prestar herramienta...", "IndexPrestamo", "Prestamo", new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Devolver herramienta</h2>
        <p>Registre la devolucion de herramientas del taller de manera fácil y rápida</p>
        <p>
            @Html.ActionLink("Devolver herramienta...", "IndexDevolucion", "Devolucion", new { @class = "btn btn-primary" })
        </p>
    </div>
</div>