@model ProyectoUno.Models.Devolucion

@{
    ViewBag.Title = "Devolucion";
}

<h2>Detalle de la devolución</h2>

<div>
    <h4>Informacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Devolucion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Devolucion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditDevolucion", new { id = Model.Cedula }) |
    @Html.ActionLink("Regresar", "IndexDevolucion")
</p>
